.tags-container {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .tag-link {
    background-color: rgb(173, 195, 211);
    padding: 0.3rem 1rem;
    margin: 0.2rem 0.15rem;
    border-radius: 10rem;
    font-weight: 600;
    color: black;
    text-decoration: none;
  }
  
  .tag-link:hover {
    text-decoration: underline;
  }
  